@{
    ViewData["Title"] = "My Purchases";
    List<PurchasedOrder> purchasedorders = ViewBag.PurchasedOrders;
    List<Item> items = ViewBag.items;
}

<div class="text-center">
    <h1 class="display-4">My Purchases</h1>
</div>


@{
    foreach (PurchasedOrder purchaseorder in purchasedorders)
    {
        <div class="">
        
        </div>
    
    }
}