@{
    ViewData["Title"] = "My Purchases";
    var groupedOrders = ViewBag.groupedOrders;

    //Item = grouped.First().Item,
    //                                  DateTime = grouped.First().DateTime,
    //                                  Quantity = grouped.Count(),
    //                                  ActivationCodes = grouped.Select(p => p.ActivationCode).ToList()

}

<div class="text-center">
    <h1 class="display-4">My Purchases</h1>
</div>


<div class="container">
    @foreach (var order in groupedOrders)
    {
        <div class="row mt-4 align-items-center">
            <div class="col-md-2"></div>
            <partial name="_item_card" model="order.Item" />
            <div style="width: 0.1%;"></div>
            <div class="col-md-5">
                <table >
                    <tr>
                        <td>
                            Purchased On:
                        </td>

                        <td>
                            @order.DateTime
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Quantity:
                        </td>
                        <td>
                            @order.Quantity
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Activation Code:
                        </td>
                        <td>
                            <select class="form-control">
                                @foreach (var code in order.ActivationCodes)
                                {
                                    <option value="@code">@code</option>
                                }
                            </select>
                        </td>
                    </tr>
                </table>


            </div>
        </div>
    }
</div>
