@{
    ViewData["Title"] = "My Purchases";
    var groupedOrders = ViewBag.groupedOrders; // dynamic type from linq
    List<PurchasedOrder> allPurchasedOrders = ViewBag.allPurchasedOrders;
}

<div class="container">
    @if (allPurchasedOrders.Count() == 0)
    {
        <div class="text-center pt-6">
            <h4>Such emptiness. Please buy some items first.</h4>
        </div>
    }
    @foreach (var order in groupedOrders)
    {
        <div class="row mt-4 align-items-center">
            <div class="col-md-2"></div>
            <partial name="_item_card" model="order.Item" />
            <div style="width: 0.1%;"></div>
            <div class="col-md-5">
                <table style="font-size: 16px">
                    <tr>
                        <td>
                            Purchased On:
                        </td>

                        <td>
                            @order.DateTime
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Quantity:
                        </td>
                        <td>
                            @order.Quantity
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Activation Code:
                        </td>
                        <td>
                            <select class="form-control" style="color:black">
                                @foreach (var code in order.ActivationCodes)
                                {
                                    <option value="@code">@code</option>
                                }
                            </select>
                        </td>
                    </tr>
                </table>


            </div>
        </div>
    }
</div>