@{
    ViewData["Title"] = "Login";
    List<Order>? ordersInCart = (List<Order>?)ViewData["ordersInCart"];
    bool hasOrdersInCart;
    if (ordersInCart == null || ordersInCart.Count() == 0)
    {
        hasOrdersInCart = false;
    }
    else
    {
        hasOrdersInCart = true;
    }
}

<div class="pt-6 d-flex flex-column align-items-center">
    <div class="container col-md-3 ">
        <div class="row">
            <h2 class="text-center w-100">Member Login</h2>
        </div>
        <div class="row">
            <form id="LoginForm">
                <div class="mb-3 mt-2">
                    <div class="input-box d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" style="margin-right:4px" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                        </svg>
                        <input type="text" id="username" placeholder="Username" class="form-control" required />
                    </div>
                </div>

                <div class="mb-3">
                    <div class="input-box d-flex align-items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" style="margin-right:4px" viewBox="0 0 16 16">
                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z" />
                        </svg>
                        <input type="password" id="password" placeholder="Password" class="form-control" required />
                    </div>
                </div>

                <div class="row d-flex">
                    <label class="form-check-label text-center"
                           for="mergeCartCheck">
                        <input class="form-check-input"
                               type="checkbox"
                               value=""
                               id="mergeCartCheck"
                               checked>
                        Merge Cart
                    </label>
                </div>

                <div class="d-flex justify-content-center w-100 mb-3 ">
                    <button id="loginbutton"
                            type="submit"
                            class="btn btn-secondary w-50"
                            style="border: 2px solid gray; margin-top: 30px"
                            data-hasOrdersInCart=@hasOrdersInCart>
                        Login
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div id="loginToast" class="toast text-center mt-5">
        <div class="toast-body" style="color: yellow">
            <strong>
                Unknown Error.
            </strong>
        </div>
    </div>

</div>
