@model string
@{
    ViewData["Title"] = "Login";
}

<div class="text-center">
    <h1 class="display-4">Login</h1>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-4">
                @using (Html.BeginForm("UserLogin", "Login", FormMethod.Post))
                {<div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" class="form-control" id="username" name="userName" placeholder="Enter your username">
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password">
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                }

                @using (Html.BeginForm("Logout", "Login", FormMethod.Post))
                {
                    <button type="submit" class="btn btn-primary">Logout</button>
                }

            </div>
        </div>
    </div>

    @if (!string.IsNullOrEmpty(Model))
    {
        <p>@Model</p>
    }

</div>

