@using ASP.NET_CA_Project.Models;
@{
    ViewData["Title"] = "Gallery";
    List<Item> items = ViewBag.items;
}

<div>
    <div class="row my-4 justify-content-center">
        <div class="col-10 position-relative" style="margin-top: 30px">
            <!-- Icon for Search -->
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search position-absolute" viewBox="0 0 16 16" style="top: 50%; transform: translateY(-50%); left: 20px;">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>

            <input id="search" type="text" name="query" class="form-control" style="padding-left: 30px;" placeholder="Search for items...">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <div id="item-cards" class="row g-3">
                    @foreach (Item item in items)
                    {
                        <partial name="_item_card" model="item"/>
                    }
                </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
</div>

